@charset "utf-8";

html {
    font-size: 62.5%;
}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#head {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#head_auth {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 img {
    width: 20rem;
    /* height: 20rem; */
    object-fit: contain;
}

#title_name {}

#title_name p {}

.icon {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    border-radius: 45px;
}
